@{
    ViewData["Title"] = "Home Page";
}


<div class="text-center">
    <h1 class="display-4" style="color:white">Bem vindo a minha pagina!</h1>
    <br />
    <div>
        <div style="display: flex; flex-wrap: nowrap; flex-direction: row; align-items: center; color:white">
            <img src="~/Resources/imgCell.png" style="width:40%" />
            
                Olá, que bom ter você por aqui, meu nome é Gualberto junio moreira silva e essa é minha pagina perfil,
                aqui irei descrever um pouco sobre mim é mostrar minhas qualificações.
                <br />
                Atualmente estou estudando para me tornar um excelente programador, estou cursando a faculdade
                de análise e desenvolvimento de sistemas, mas já almejando realizar um curso de engenharia de software futuramente.

           
        </div>
    </div>

</div>
